.bottom-bar {
  border-spacing: 6px;
  padding: 6px;
  border-top: 1px solid @borders;
}

.bottom-bar > button {
  background: none;
  box-shadow: none;
  border: none;
  -gtk-icon-shadow: none;
  text-shadow: none;
  outline: none;
  padding: 0;
}

.bottom-bar > button > image {
  -gtk-icon-size: 24px;
  padding: 6px;
}

.bottom-bar > button:hover > image {
  background: alpha(@theme_fg_color, .2);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.style1 > button > image {
  border-radius: 6px;
}

.style2 > button > image {
  border-radius: 100%;
}

.style3 > button > image {
  border-radius: 6px;
}

.style4 > button > image {
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
